.link {
	transition: all 0.2s ease-in-out!important;
	text-decoration: none!important;
	padding-bottom: 1px!important;
	border-bottom: 1px solid transparent!important;
	&:hover, &:active, &.active {
		border-bottom: 1px solid rgba(var(--joy-palette-primary-mainChannel) / 1)!important;
	}
	display: inline-block!important;
	> * + * {
		vertical-align: middle!important;
		margin-left: 8px!important;
	}
}